# Virtual environment
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Test and notebook caches
.pytest_cache/
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/
